.heading {
  text-align: center;
  color: rgb(66, 66, 252);
  /* text-shadow: 2px 2px 8px #0099ff; */
  text-shadow: 2px 2px 8px rgb(66, 66, 252);
  font-size: 300%;
  height: max-content;
}

.graphheading {
  color: rgb(125, 4, 150);
  /* text-shadow: 2px 2px 8px #0099ff; */
  text-shadow: 2px 2px 8px rgb(66, 66, 252);
  font-size: 200%;
  height: max-content;
}

.wordcloud{
  background-color: white;
  width: 90%;
  height: 47em;
  /* margin-left: 7em; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  height: max-content;
}

.charts {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
}

.graphdescription {
  font-size: 120%;
  height: max-content;
}

.btn {
  background-color:purple;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20%;
  height: max-content;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.headingcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}

#printable {
  /* height:auto; */
  height: max-content;
}